@font-face {
  font-family: MAGIMTOS;
  src: local("MAGIMTOS"),
       local("MAGIMTOS"),
       url(MAGIMTOS.ttf);
}

body {
  background: #ffffff;
  font-family: MAGIMTOS
}

h1 {
  position: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 80px;
  color: #e67e00;
}

h2 {
  position: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  color: #e67e00;
}

body {
  background-color: #fff;
}
